{{#each posts as |post|}}
  <section data-id="{{post.id}}">
    <h3>{{post.title}}</h3>
    <h4>{{post.placeName}}</h4>
    <h5>{{post.cityLoc}}{{post.stateLoc}}</h5>
    <p>{{post.content}}</p>
    <p>{{post.id}}</p>
  </section>

    {{/each}}
