<section>
  <h3>Most Recent Post:</h3>
  <h2>Title: {{post.title}}</h2>
  <h3>Company Name: {{post.placeName}}</h3>
  <h4>{{post.cityLoc}}{{post.stateLoc}}</h4>
  <p>Review:<br />{{post.content}}</p>
</section>
